body {
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -100;
}


.table-bordered {
    border: 2px solid #050505;
}
.table-bordered th, .table-bordered td {
    border: 2px solid #000000;
}
